.item{
  padding: 40px;
  clear: both;
}
.item >div{
    max-width:1180px;
    /*border: 1px solid green;*/
}
.item-header{
    position:relative;
    padding: 40px;
}
.item-header span{
    padding-bottom: 5px;
    margin: 0 auto;
    position:absolute;
    text-align: center;
    display: flex;
    transform: translate(-50%,-50%);
    left: 50%;
    top:50%;

    font-size: 32px;
    font-weight: normal;
    line-height: 2;
    margin-bottom: 20px;
    background: url(../images/feature/title_hr.png) bottom no-repeat;
}
.col-lg-1_5{
    position: relative;
    min-height: 1px;
    padding: 5px;
    float: left;
    width: 20%;
}
.m-auto{
    margin: 0 auto;
}
.greyBg{
    background: #eeeeee;
}
.whiteBg{
    background:#fff;
}
.back-to-top{
    border: 1px solid #eee;
    padding:10px 20px;
    position:fixed;
    color:#fff;
    bottom:20px;
    right:20px;
    background:#ccc;
}


/*formal*/
test{
    border:1px solid green;
}
body{
    margin:0;
    padding:0;
    width: 100%;
    max-width: 100%;
    min-width: 320px;
    height:100%;
}
a,li,ul{
    text-decoration: none;
    list-style-type: none;
    color: #000;
}
.met-navfixed{

}
.container {
    max-width: 100%;
    border:1px solid green;
}
.inline >div,.inline >ul,.inline >li{
    display:inline-block;
}
.item-header{

}
.item-lg-header{
    font-size: 24px;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
    color: #444;
}
.item-sm-header{
    font-size: 13px;
    text-align: center;
    width: 80%;
    color: #848484;
    margin: 0px auto;
    margin-bottom: 10px;
    font-family: "Microsoft YaHei";
}
